
body{
    color: brown;
    font-family: cursive !important;
    background-color: rgb(252, 214, 143);
}

div {
    background-color: aliceblue;
}

.frame-content {
    font-family: Arial;
}


.cms-editor-visual {
    background-color: brown !important;
  }