

.aktualno-content {
    color: #220202;
    margin: 5% auto 1% auto;
    font-size: x-large;
    /*  font-style: italic; */
    width: 70%;
}

.aktualno-li {
    color: rgb(143, 34, 34);
    font-size: larger;
    list-style: disclosure-closed;
}

.aktualno-li > div {
    color: rgb(100, 77, 77);
    font-size: small;
    margin-left: 2%;
    display: inline-block;
}

.aktualno-text {
    width: 68%;
    font-size: large;
    margin-right: 2%;
}

.aktualno-title {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 2.5%;
    width: 60rem;
}





@media only screen and (max-width: 767px) and (min-width: 200px) {
   
    .aktualno-text {
        margin: unset;
        width: 90%;
    }

    .aktualno-content {
        width: 90%;
    }
}
