.blog-content {
    font-family: Arima Madurai;
    margin-top: 60px;
}

.blog-item {
    margin-top: 4%;
    margin-bottom: 2%;
    padding: 30px 40px;
    font-size: xx-large;
    background: linear-gradient(45deg, transparent, #fffdc3, transparent);
}

.blog-title {
    font-size: xxx-large;
    margin-bottom: 20px;
    text-shadow: 4px 4px 7px #b39e7a;
    border-bottom: 1px solid #7c7c7c;
}

.blog-text {
    font-size: x-large;
}
