.blog-content {
    font-family: Arima Madurai;
    margin-top: 60px;
    margin-bottom: 100px;
}
.blog-content {
    width: 80%;
    margin: 2% auto;
    font-style: italic;
    text-align: justify;
    color: #210200;
    font-size: larger;
    font-family: Bellota Text;
}
.blog-item {
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 30px 40px;
    font-size: xx-large;
    border-image-slice: 15 15 15 15 !important;
    border-image-width: 10px 10px 10px 10px !important;
    border-image-outset: 0px 0px 0px 0px !important;
    border-image-repeat: round round !important;
    /*  border-image-source: url("https://mdn.mozillademos.org/files/6017/border-image-6.svg"); */
}

.blog-title {
    font-size: x-large;
    margin-bottom: 20px;
    text-shadow: 1px -3px 6px #bfbfbe;
    border-bottom: 1px solid #7c7c7c;
    color: rgb(46, 46, 46);
}

.blog-text {
    font-size: large;
    font-family: charm;
    font-style: normal;
}

.blog-text.test-3 {
    font-style: italic;
    font-size: x-large;
}
.blog-text.test-1 {
    font-size: x-large;
}
.blog-text.test-2 {
    font-size: x-large;
}
.blog-text.test-3 {
    font-size: x-large;
}

.blog-text > .emoji {
    font-size: medium;
}

.pisava-1 {
    font-family: Italianno !important;
    margin-bottom: 30px;
}
.pisava-2 {
    font-family: Felipa !important;
    margin-bottom: 30px;
}
.pisava-3 {
    font-family: Bad Script !important;
    margin-bottom: 30px;
}
.pisava-4 {
    font-family: Grandstarter !important;
    margin-bottom: 30px;
}

.pisava-5 {
    font-family: Happy Monkey !important;
    margin-bottom: 30px;
}
.pisava-6 {
    font-family: Merienda !important;
    margin-bottom: 30px;
}
.pisava-7 {
    font-family: Coming Soon !important;
    margin-bottom: 30px;
}
.pisava-8 {
    font-family: Handlee !important;
    margin-bottom: 30px;
}
.pisava-9 {
    font-family: Patrick Hand !important;
    margin-bottom: 30px;
}
.pisava-10 {
    font-family: Tangerine !important;
    margin-bottom: 30px;
}
.pisava-11 {
    font-family: Stalemate !important;
    margin-bottom: 30px;
}
.pisava-12 {
    font-family: Balsamiq Sans !important;
    margin-bottom: 30px;
}

.pisava-13 {
    font-family: Marck Script !important;
    margin-bottom: 30px;
}
.pisava-14 {
    font-family: Lobster !important;
    margin-bottom: 30px;
}
.pisava-15 {
    font-family: PlayBall !important;
    margin-bottom: 30px;
}

.pisava-16 {
    font-family: Sansita Swashed !important;
    margin-bottom: 30px;
}

.pisava-17 {
    font-family: Kavivanar !important;
    margin-bottom: 30px;
}

.pisava-18 {
    font-family: Ranga !important;
    margin-bottom: 30px;
}
.pisava-19 {
    font-family: Glass Antiqua !important;
    margin-bottom: 30px;
    font-style: italic;
}

.blog-text.pisava-19 {
    font-size: 22px;
    letter-spacing: 0.8px;
}
.pisava-20 {
    font-family: Grandstander;
    font-style: italic;
}
.pisava-21 {
    font-family: Forum;
    font-style: italic;
}
.pisava-22 {
    font-family: Corben;
    font-style: italic;
}
.pisava-23 {
    font-family: McLaren;
    font-style: italic;
}
.pisava-24 {
    font-family: Oregano;
    font-style: italic;
}
.pisava-25 {
    font-family: Life Savers;
    font-style: italic;
}
.pisava-26 {
    font-family: Katibeh;
    font-style: italic;
}
.pisava-27 {
    font-family: Atma;
    font-style: italic;
}
.pisava-28 {
    font-family: Farsan;
    font-style: italic;
}
.pisava-29 {
    font-family: Srisakdi;
}
.pisava-30 {
    font-family: Dynalight;
}
.pisava-31 {
    font-family: Bellota !important;
    font-style: italic !important;
}
.pisava-32 {
    font-family: Cormorant Upright !important;
    font-style: italic !important;
    font-size: 1.2rem !important;
    letter-spacing: 0.5px;
    font-style: normal !important;
}
.pisava-33 {
    font-family: Open Sans Condensed !important;
    font-style: italic !important;
}
.pisava-34 {
    font-family: Forum;
}
.pisava-35 {
    font-family: Forum;
}
.pisava-36 {
    font-family: Forum;
}
.pisava-37 {
    font-family: Forum;
}
.pisava-38 {
    font-family: Forum;
}
.pisava-39 {
    font-family: Forum;
}
.pisava-40 {
    font-family: Forum;
}

.blog-text.pisava-32 {
}

.blog-text.pisava-31 {
    font-style: normal !important;
}
.blog-text.pisava-31.italic {
    font-style: italic !important;
}
.blog-text.pisava-special.italic {
    font-family: Special Elite !important;
    font-style: italic !important;
}

.blog-text.pisava-special {
    font-family: Special Elite !important;
    letter-spacing: 0.7px;
    color: #4c4c4c;
}

.blog-text.pisava-special.brown {
    color: #482d03;
}

.blog-title.pisava-special.brown {
    /*     color: #6b4200;
 */
    color: #482d03;
}

.vil-description {
    font-size: medium;
    /* width: 30%; */
}

.blog-title.pisava-special {
    font-family: Special Elite !important;
    font-style: normal !important;
    color: #5f5f5f;
}
.blog-title.pisava-special.black {
    font-family: Special Elite !important;
    font-style: normal !important;
    color: black !important;
}

.blog-text.pisava-21.italic {
    font-style: italic !important;
}

.blog-text.pisava-19 {
    font-style: normal !important;
}

.blog-text.pisava-13 {
    font-size: 21px !important;
}
.blog-text.pisava-arima {
    font-size: 20px !important;
    font-family: Arima Madurai;
    font-style: italic;
}
