.blog-content {
    font-family: Arima Madurai;
    margin-top: 60px;
    margin-bottom: 100px;
}

.blog-item {
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 30px 40px;
    font-size: xx-large;
}

.blog-title {
    font-size: x-large;
    margin-bottom: 20px;
    text-shadow: 4px 4px 7px #b39e7a;
    border-bottom: 1px solid #7c7c7c;
}

.blog-text {
    font-size: xx-large;
    font-family: Italianno;
    font-style: normal;
}

.blog-text > .emoji {
    font-size: medium;
}
