.form {
    max-width: 600px;
    margin-left: 10%;
    /* background-color: #fffeec;
    padding: 20px 30px;
    box-shadow: 5px -2px 19px 0px #d6d6d6;
 */
}

.form-label {
    display: block;
    margin-bottom: 2%;
    font-size: large;
}

.contact-text {
    margin-top: 20px;
}

.contact-text.email {
    font-size: medium;
    color: #82533c;
}

.contact-text.name {
    font-weight: bold;
    font-size: larger;
    color: #82533c;
    font-family: Marck Script;
}

.contact-form-div {
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 10%;
    max-width: 1000px;
}

.contact-img {
    max-width: 100px;
}

.contact-form {
    width: 60%;
}

.contact-description {
    max-width: 360px;
    height: 150px;
    margin-left: 5%;
    padding: 20px 40px;
    background-color: #ffffe1;
    box-shadow: inset -2px -2px 15px 5px #ffd6ba;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}

.contact-div {
    width: 80%;
}

.form-group {
    margin-bottom: 3%;
}

.form-control {
    width: 300px;
    color: black;
    border-radius: 4px;
    border: 1px solid #8c7164;
}

input.form-control {
    height: 30px;
}

textarea.form-control {
    height: 150px;
    width: 350px;
}

.send-msg-btn {
    display: block;
    font-size: large;
    /* background-color: #ffcf86; */
    color: #000;
    width: 45%;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px -1px 9px 0px #f9ba80;
    transition: all 0.15s ease-in-out;
    /* background: radial-gradient(#f8f5c3, #ffeb9f); */
    padding: 10px 8px;
    /* border: #eca72d 1px solid; */
    color: rgb(59, 59, 59);
    position: relative;
    /*  &:hover {
        box-shadow: 0 0 5px 0 #ffbe73 inset, 0 0 1px 1px #fdff6b;
        background: radial-gradient(#fffaa2, #fff494);
    } */

    border: 1px solid #eeac89;
}

.send-msg-btn {
    .btn__text {
        position: relative;
        z-index: 1;
    }

    &::after {
        position: absolute;
        top: 0px;
        left: 0px;
        display: block;
        width: 100%;
        height: 100%;
        content: "";
        border-radius: 5px;
    }

    &::after {
        background-color: rgb(255, 250, 176);
        transition: all 0.6s;
    }

    &:hover::after {
        background-color: rgb(255, 236, 131);
        box-shadow: 1px 1px 5px gray;
        transform: scale(1.1);
    }
}

@media (min-width: 200px) and (max-width: 768px) {
    .contact-form-div {
        margin-top: 10%;
        flex-direction: column-reverse;
    }

    .contact-description {
        width: 70%;
        padding: 20px 15px;
    }

    @media screen and (orientation: portrait) {
        textarea.form-control {
            height: 150px;
            width: 90%;
        }

        .form-control {
            width: 90%;
        }

        .contact-description {
            margin-top: 10%;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-wrap: wrap;
        }
        .contact-img {
            width: 100%;
        }

        .form {
            margin: 0 auto;
            margin-top: 10%;
            margin-left: auto;
            padding: 10px;
        }
        .contact-text {
            margin: 5% auto;
        }
    }

    @media screen and (orientation: landscape) {
        .contact-description {
            width: 50%;
            margin-bottom: 10%;
        }

        .contact-form-div {
            align-items: center;
        }
    }
}
