.form {
    max-width: 600px;
    margin-left: 10%;
    /* background-color: #fffeec;
    padding: 20px 30px;
    box-shadow: 5px -2px 19px 0px #d6d6d6;
 */
}

.form-label {
    display: block;
    margin-bottom: 2%;
    font-size: large;
}

.contact-text {
    margin-top: 20px;
}

.contact-text.email {
    font-size: medium;
    color: #82533c;
}

.contact-text.name {
    font-weight: bold;
    font-size: larger;
    color: #82533c;
    font-family: Marck Script;
    font-display: swap;
}

.contact-form-div {
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 10%;
    max-width: 1000px;
}

.contact-img {
    max-width: 80px;
    margin-left: 10px;
}

.contact-icons {
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 10px;
}

.contact-icons > a {
    margin: 5px;
}

.contact-icons > a > img {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.contact-icons > a > img:hover {
    -webkit-filter: brightness(130%);
    filter: brightness(130%);
}

.contact-form {
    width: 60%;
}

.contact-description {
    max-width: 360px;
    height: 150px;
    margin-left: 5%;
    padding: 20px 40px;
    background-color: #ffffe1;
    box-shadow: 2px 1px 14px 2px #e2cdb8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    background: radial-gradient(#ffffff, #fbebcc);
}

.contact-form-desc {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
}
.contact-bottom-group {
    display: flex;
    justify-content: center;
}

.contact-div {
    width: 80%;
}

.notification-div {
    width: 200px;
}

.error {
    display: inline-block;
    font-size: medium;

}

.form-group {
    margin-bottom: 3%;
}

.form-control {
    width: 300px;
    color: black;
    border-radius: 4px;
    border: 1px solid #8c7164;
}

textarea.form-control:focus {
    border: 1px solid #8c7164 !important;
}

textarea.form-control:active {
    border: 1px solid #8c7164 !important;
}

input.form-control {
    height: 30px;
}

textarea.form-control {
    height: 150px;
    width: 350px;
}

.send-msg-btn {
    display: block;
    font-size: large;
    /* background-color: #ffcf86; */
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px -1px 9px 0px #f9ba80;
    transition: all 0.15s ease-in-out;
    background: radial-gradient(#f8f5c3, #ffeb9f);
    padding: 10px 8px;
    /* border: #eca72d 1px solid; */
    color: rgb(59, 59, 59);
    position: relative;
    /*  &:hover {
        box-shadow: 0 0 5px 0 #ffbe73 inset, 0 0 1px 1px #fdff6b;
        background: radial-gradient(#fffaa2, #fff494);
    } */

    border: 1px solid #eeac89;
}

input.send-msg-btn:focus {
    outline: 0;
}

.send-msg-btn:hover {
    box-shadow: 0px -1px 9px 0px #ffd369;
    border: 1px solid #fff17c;
    background: radial-gradient(antiquewhite, #fffd92);
}

 .react-confirm-alert-overlay {
   /*  opacity: 0.9 !important; */
    background: rgba(255, 255, 255, 0.5) !important;
  /*   position: absolute !important; */
   /*  top: 30% !important; */
    height: 100% !important;
}

body.react-confirm-alert-body-element {
    overflow: auto !important;
}

/*.react-confirm-alert-body {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    top: 20%;
    position: relative;
    width: 30%;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    color: #844724 !important;
    box-shadow: 7px 6px 11px rgba(66, 66, 66, 0.1);
    border-radius: 10px;
    overflow: auto;
    height: 200px;
    border: 2px solid #feba7e;
    border-radius: 8px;
    padding-bottom: 40px;
}
 */
@media (min-width: 200px) and (max-width: 768px) {
    .contact-form-div {
        margin-top: 10%;
        flex-direction: column-reverse;
    }

    .contact-description {
        width: 70%;
        padding: 20px 15px;
    }

    .contact-text.email {
        font-size: small;
    }

    @media screen and (orientation: portrait) {
        textarea.form-control {
            height: 150px;
            width: 240px;
        }

        .form-control {
            width: 200px;
        }

        .contact-description {
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            display: flex;
            padding: 10px 30px;
            height: 155px;
        }

        .contact-img {
            width: 100%;
        }

        .form {
            margin: 0 auto;
            margin-top: 10%;
            margin-left: auto;
            padding: 10px;
        }
        .contact-text {
            margin: 5% auto;
        }
    }

    @media screen and (orientation: landscape) {
        .contact-description {
            width: 55%;
            margin-bottom: 10%;
        }

        .contact-form-div {
            align-items: center;
        }

        .contact-text.email {
            font-size: small;
        }
        .form {
            margin: 0 auto;
        }
    }
}

@media (min-width: 200px) and (max-width: 900px) {
    @media screen and (orientation: landscape) {
        .contact-text.email {
            font-size: small;
        }

        .contact-description {
            padding: 10px 20px;
        }
    }
}

@media (min-width: 769px) and (max-width: 844px) {
    .contact-text.email {
        font-size: small;
    }

    @media screen and (orientation: portrait) {
        .contact-description {
            padding: 10px 20px;
        }
        .contact-form-div {
            flex-direction: column-reverse;
        }
        .contact-description {
            margin: 0 auto;
            margin-bottom: 10%;
        }
        .form {
            margin: 0 auto;
        }
    }
}

@media only screen and (max-width: 767px) and (min-width: 200px) {
    
    .contact-icons {
        align-self: center;
    }
    @media screen and (orientation: landscape) {
        .contact-icons {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}