$gallery-image-background: #eeeeee;

.gallery-content {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.gallery-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.gallery-image-content {
    align-self: center;
    transform-origin: 50% 65%;
    transition: transform 1s, filter 2s ease-in-out;
    filter: brightness(150%);
    margin: 3px;
    background-color: $gallery-image-background;
    display: inline-block;
}

.gallery-img {
    border: 10px solid #ffe5cd;
    /* mix-blend-mode: multiply; */
}

/* Zoom In #2 */
.gallery-content img {
    /*  height: auto;
    width: 100px; */
    -webkit-transition: 0.5s ease-out;
    transition: 0.5s ease-in;
}
/* .gallery-content figure:hover img { */
.gallery-img:hover {
    /* transform: scale(1.001); */
    opacity: 1;
    filter: brightness(1.2);
    border: 10px solid #ffb26a;
    /*     z-index: 99999;
 */ /*  width: 330px; */
}

.img-1.gallery-img {
    transform: rotateZ(0deg);
    width: 100%;
}

.img-2 {
    transform: rotateZ(8deg);
    max-width: 300px;
}

.img-3 {
    transform: rotateZ(-4deg);
    max-width: 300px;
}
.img-4 {
    transform: rotateZ(10deg);
    max-width: 300px;
}
.img-5 {
    transform: rotateZ(-10deg);
    max-width: 300px;
}
.img-6 {
    transform: rotateZ(-2deg);
    max-width: 300px;
}

.img-7 {
    transform: rotateZ(-4deg);
    max-width: 300px;
}

@media only screen and (max-width: 767px) and (min-width: 200px) {
    .img-6 {
        margin-top: 0px;
    }
}
@media only screen and (max-width: 1023px) {
    .img-6 {
        margin-top: 0px;
    }
}
