.komunikacija-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 11% auto 1% auto;
    max-width: 1800px;
    /* width: 80%; */
    font-family: Bellota Text;
    font-size: x-large;
    color: #220202;
    text-align: justify;
}

.komunikacija-intro {
    margin-top: 2%;
    padding: 0px 3%;
}

.vil-description {
    margin-top: 5%;
    color: #4d3625;
    font-size: xx-large;
    font-family: Italianno;
    letter-spacing: 1.5px;
}

.komunikacija-item {
    padding: 2%;
    /*     border: 1px solid #f9d9d9;
    border-top: 25px solid #e9c9f2; */
    max-width: 1900px;
    border-radius: 7px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.kom-img {
    justify-content: center;
}
.kom-item-img {
    margin-top: 5%;
    max-width: 400px;
}

.kom-item-img.partner {
    margin-top: 9%;
}

/* 
.kom-item-img.sluzba {
    width: 600px;
    max-width: 600px;
} */

.kom-item-img.splosna {
    margin-top: 9%;
    width: 600px;
}

.komunikacija-item.kom-sluzba-img > .komunikacija-text {
    margin-bottom: 4%;
}

.komunikacija-text {
    width: 68%;
    font-size: large;
    margin-right: 2%;
}

.komunikacija-content-bottom {
    margin-top: 10%;
    padding: 0px 3%;
    font-family: Arima Madurai;
    font-size: large;
    margin: 10% auto 0%;
    width: 80%;
    font-weight: bold;
    letter-spacing: 1px;
    color: #78070b;
    /*  font-family: Great Vibes; */
    font-style: italic;
}

.komunikacija-title {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 2.5%;
    width: 60rem;
    text-align: center;
}
@media (min-width: 700px) and (max-width: 1200px) and (orientation: portrait) {
    .komunikacija-content {
        width: 100%;
    }

    .kom-sluzba-img,
    .kom-item-img {
        width: 90%;
    }

    .komunikacija-text {
        width: 90%;
        margin-bottom: 4%;
    }
}

@media only screen and (max-width: 767px) and (min-width: 200px) {
    .kom-img-desc {
        flex-direction: column;
    }
    .komunikacija-content-bottom {
        padding: 0;
    }

    .kom-item-img {
        width: 80%;
    }
    .vil-description {
        text-align: center;
        width: 100%;
    }
}
