

.kontakt-content {
    color: #482d03;
}
.kontakt-content:first-child {
    margin-top: 4%;
}

.kontakt-quote-1, .omeni-quote-1 {
    width: 80%;
    margin: 0 auto;
}

textarea {
    resize: none;
}
