/* @import url('https://fonts.googleapis.com/css?family=Montserrat|Gudea|Hind+Guntur|Michroma|Sulphur+Point|Mallanna|Lora|Handlee');
 */
@import url("https://fonts.googleapis.com/css?family=Ranga|Glass+Antiqua|Hind+Guntur|Lobster|Playball|Sansita+Swashed|Galada|Charm|Kavivanar|Shadows+Into+Light|Lemonada|Montez|Qwigley|Ruge+Boogie|Satisfy|Pacifico|Arizonia|Calligraffitti|Great+Vibes|Allura|Chilanka|Balsamiq+Sans|Marck+Script|Felipa|Bad+Script|Overlock|Grandstander|Bellota+Text|Happy+Monkey|Merienda|Coming+Soon|Handlee|Stalemate|Italianno|Mali|Pangolin|Patrick+Hand|Baloo+Thambi+2|Arima+Madurai|Tangerine");

// nove pisave
@import url("https://fonts.googleapis.com/css?family=Grandstander|Special+Elite|Dynalight|Open+Sans+Condensed|Cormorant+Upright|Bellota|Forum|Corben|Srisakdi|McLaren|Katibeh|Atma|Life+Savers|Oregano|Farsan");

$dark-red: #640c0c;
$main-content-background: #fffbee;
$th-item-title: rgb(224, 224, 224);
$header-title-link: #dbd9d9;
$news-content-color: rgb(63, 63, 66);
$header-subtitle: #f0e6fc;
$gallery-image-background: #eeeeee;
$title-hover: lightgray;
$body-font-color: black;
$header-title-color: #e0e0e0;

@mixin bg-gradient-header() {
    background-image: linear-gradient(to bottom, #991f0d, #9b1a1a, #820404);
}

@mixin item-title-gradient() {
    background-image: linear-gradient(to left, #eae9e9, #e3e3e3, #e2dddd);
}

@mixin content-main-div-background() {
    background-image: linear-gradient(#b5b5b5, #dedcdc, #cacaca, #b9b7b7);
}

@mixin news-item-header-background() {
    background-image: linear-gradient(#cccbcb, #fff9f9, #d2d0d0);
}

html {
    background-color: rgb(255, 219, 219);
    font-family: "Tangerine", "Bellota Text", "Charm", "Arima Madurai", "Handlee", Helvetica, Arial;
    font-display: swap;
}
body {
    -webkit-transition: all 5s ease;
    -moz-transition: all 5s ease;
    -o-transition: all 5s ease;
    transition: all 5s ease;
    transition: height 8s ease;
    margin: 0 auto;
}

body,
article,
section {
    font-family: "Hind Guntur";
    color: $body-font-color;
}
body {
    position: sticky;
    width: 100%;
    background: wheat !important;
    --theme-ui-colors-text: none;
    --theme-ui-colors-background: none;
    --theme-ui-colors-primary: none;
}

.top-div {
    min-height: 800px;
    background: none;
    background-color: none;
    background: linear-gradient(45deg, #ff9437, #ff9437, #f35555, #ff9437);
}

.kom-img-desc {
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.main-content {
    /* background-color: $main-content-background;
 */
    padding: 10px;
    width: 60%;
    margin: 0 auto;
    margin-top: 48px;
    min-height: 1500px;
    flex-grow: 3;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: "Bellota Text";
    background-color: #fffbf4;
    /* opacity: 0.93; */
    box-shadow: 2px 9px 17px #d2c7ac;
    /* background: linear-gradient(to left, #fcfafa00 1%, #ffffff, #fff2e5, #fbecdd, #fbecdd, #fbecdd, #fffbfb05);
 */
}

.kontakt-content {
    color: #482d03;
}

textarea {
    resize: none;
}

.bla {
    font-size: xx-large;
    margin: 100px 0px;
    font-style: bold;
}
.pisave-div {
    font-size: x-large;
    margin-top: 100px;
}

.pisave-div > div {
    margin-bottom: 60px;
}

.kom-item-img {
    margin-top: 5%;
}

.kom-item-img.partner {
    margin-top: 9%;
}

.kom-item-img.sluzba {
    margin-top: 9%;
}

.kom-item-img.splosna {
    margin-top: 9%;
}

.aktualno-content {
    color: #220202;
    margin: 5% auto 1% auto;
    font-size: x-large;
    /*  font-style: italic; */
    width: 70%;
}

.aktualno-li {
    color: rgb(143, 34, 34);
    font-size: larger;
    list-style: disclosure-closed;
}

.aktualno-li > div {
    color: rgb(100, 77, 77);
    font-size: small;
    margin-left: 2%;
    display: inline-block;
}

.aktualno-text {
    width: 68%;
    font-size: large;
    margin-right: 2%;
}

.aktualno-title {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 2.5%;
    width: 60rem;
}

.predavanja-content {
    width: 80%;
    margin: 4% auto 2%;
    font-style: italic;
    text-align: justify;
    color: #210200;
}

.delavnice-content {
    width: 80%;
    margin: 2% 4% auto;
    text-align: justify;
    color: #210200;
}

.promocija-content {
    width: 80%;
    margin: 0 auto;
    margin-top: 8%;
    font-size: large;
    font-family: Bellota Text;
    text-align: justify;
    color: #210200;
}

.predavanja-content {
    width: 80%;
    margin: 6% auto;
    font-style: italic;
    text-align: justify;
    color: #210200;
    font-size: larger;
}

.predavanja-item {
    margin-top: 4%;
}

.zahvale {
    width: 80%;
    margin: 2% auto;
    font-family: "Bellota Text";
    font-size: x-large;
    margin-top: 6%;
    color: #250101;
}

.box-container-1 {
    /**popravljeno zaenkrat tako, da bom se naknadno naredila spodaj vijuge in ozadje*/
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    box-shadow: -4px 20px 15px #8e774c;
}

.main-content-left {
    width: 9%;
    /* background: linear-gradient(to bottom, #fda64c, #f14706); */
}

.main-content-right {
    width: 10%;
    background: transparent;
    color: #fce9b6;
    font-family: bellota text;
    font-style: italic;
    /* background: linear-gradient(to bottom, #fda64c, #f14706); */
    /* background: linear-gradient(to bottom, #ff5532, #fa301a);
} */
}

.main-content-right-title {
    color: black;
    margin-top: 10px;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

li {
    text-decoration: none;
    list-style: none;
}

.content-main-div {
    margin: 0 auto;
    width: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    /* background-color: #ffecec; */
    /* background: linear-gradient(to bottom, #fcfde9, #fffbee, #fffbee, #fffbee, #fbead7);
     */
    /*     background: linear-gradient(to right, #fbe7c2 1%, #ffffff, #fffbee, #fffbee, #fbead7);
 */
    display: flex;
    flex-wrap: wrap;
    min-height: 1200px;
    /** varianta 1 */
    /*  background: linear-gradient(to bottom, #f4f391, #f7ae51, #fd8967, #f4a35d, #f9ee95, #f9ee95);
    */ /** varianta 2 */
    /*   background: linear-gradient(to bottom, #f4f391, #f4db91, #f7ae51, #fd8967, #f4a35d, #f9ee95, #f9ee95);
   */ /** varianta 4*/
    /*  background: linear-gradient(to bottom, #ffbf70, #fff39c, #fdf3a8, #ffbf70);
 */
    background: linear-gradient(to bottom, antiquewhite, #fffff3, antiquewhite);
}

a.povezava-item > img {
    width: 70px;
    margin-bottom: 10px;
}

.content-section-contact {
    padding: 10px;
    line-height: 0.4rem;
}

.footer {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffced;
}

.footer-text {
    visibility: hidden;
    color: black;
    display: inline-block;
    font-style: italic;
}

.main-footer-div {
    text-align: center;
    font-size: 2rem;
    color: white;
}

.emoji {
    font-size: medium;
    font-style: normal;
    text-shadow: none;
}

.motivation-quote-1 {
    margin-top: 4%;
    padding: 3% 2%;
    margin-bottom: 4%;
    width: 80%;
    font-family: Italianno;
    font-size: xx-large;
    font-size: 38px;
    letter-spacing: 1px;
    color: #6b4200;
    margin: 0 auto;
    text-shadow: 2px 1px #f5f5f5;
    -webkit-transition: height 8s linear;
    transition: height 8s linear;
}

@media (min-width: 200px) and (max-width: 500px) and (orientation: portrait),
    (min-width: 200px) and (max-width: 500px) and (orientation: landscape) {
    .header {
        flex-direction: column;
        padding: 25px;
    }

    .header-title-link {
        font-size: medium;
    }

    .dropdown {
        width: auto;
    }

    .povezave-content {
        width: 100%;
    }

    .gallery-content {
        margin: 0;
    }

    .gallery-image {
        width: auto;
        height: auto;
    }

    .news-front-image {
        flex-basis: auto;
        width: 100%;
    }

    .news-item-header {
        flex-wrap: wrap;
    }

    .main-content {
        width: 95%;
    }

    .main-content-right {
        width: 100%;
        border-top: 2px darkgray solid;
    }
}

@media (min-width: 700px) and (max-width: 1200px) and (orientation: portrait) {
    .right-title {
        padding-left: 10px;
    }
    .zahvala {
        width: 40%;
    }
    .blog-content,
    .komunikacija-content {
        width: 100%;
    }

    .kom-sluzba-img,
    .kom-item-img {
        width: 90%;
    }

    .komunikacija-text {
        width: 90%;
        margin-bottom: 4%;
    }
}

@media (max-height: 400px) and (min-width: 500px) and (orientation: landscape) {
    .right-title {
        padding-left: 10px;
    }

    .povezave-right {
        margin-left: -20px;
    }

    .povezave-right.address {
        font-size: x-small;
        margin: 5px;
    }

    .navbar-nav {
        position: absolute;
    }
}

@media only screen and (min-width: 1024px) {
    .gallery-content {
        column-count: 4;
    }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .gallery-content {
        column-count: 3;
    }

    .header {
        background-position-y: unset !important;
    }
    .o-meni-textdiv {
        width: 80%;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 200px) and (orientation: landscape) {
    .zahvala {
        width: 40%;
    }

    .motivation-quote-1 {
        font-size: large;
    }
    .blog-title {
        font-size: x-large;
    }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 200px) {
    .main-content {
        padding: 4% 3%;
    }

    .kom-img-desc {
        flex-direction: column;
    }

    .vil-description {
        text-align: center;
        width: 100%;
    }

    .blog-title {
        font-size: x-large;
    }

    .komunikacija-content-bottom {
        padding: 0;
    }

    .kom-item-img {
        width: 80%;
    }

    .aktualno-text {
        margin: unset;
        width: 90%;
    }

    .aktualno-content {
        width: 90%;
    }

    @media screen and (orientation: landscape) {
        .blog-item > .blog-title {
            font-size: x-large;
        }
    }

    .gallery-content {
        column-count: 2;
    }

    .news-item-header {
        display: block;
    }

    .o-meni-quote {
        width: 90%;
        padding-left: 0;
        padding-right: 0;
    }

    .quote-logo > img {
        width: 15px;
    }

    .o-meni-textdiv {
        margin-top: 2%;
        width: 85%;
    }

    .motivation-quote-1 {
        font-size: large;
        width: 88%;
    }
    .o-meni-content {
        margin-top: 8%;
        margin-bottom: 5%;
        width: auto;
    }

    .predavanja-content,
    .delavnice-content,
    .promocija-content,
    .o-meni-content,
    .blog-content,
    .komunikacija-content {
        margin-top: 5%;
        width: 90%;
        text-align: left;
        font-size: large;
    }

    .blog-content > .blog-item {
        padding: 0px;
    }

    .blog-item > .blog-text {
        font-size: medium;
    }

    .zahvala {
        width: 100%;
    }

    .zahvale-section {
        width: auto;
    }

    .komunikacija-item {
        flex-direction: row;
        justify-content: center;
    }
    .komunikacija-text {
        width: auto;
        margin-bottom: 4%;
    }
}
