/* @import url('https://fonts.googleapis.com/css?family=Montserrat|Gudea|Hind+Guntur|Michroma|Sulphur+Point|Mallanna|Lora|Handlee');
 */
@import url("https://fonts.googleapis.com/css?family=Ranga|Glass+Antiqua|Hind+Guntur|Lobster|Playball|Sansita+Swashed|Galada|Charm|Kavivanar|Shadows+Into+Light|Lemonada|Montez|Qwigley|Ruge+Boogie|Satisfy|Pacifico|Arizonia|Calligraffitti|Great+Vibes|Allura|Chilanka|Balsamiq+Sans|Marck+Script|Felipa|Bad+Script|Overlock|Grandstander|Bellota+Text|Happy+Monkey|Merienda|Coming+Soon|Handlee|Stalemate|Italianno|Mali|Pangolin|Patrick+Hand|Baloo+Thambi+2|Arima+Madurai|Tangerine");

// nove pisave
@import url("https://fonts.googleapis.com/css?family=Grandstander|Dynalight|Open+Sans+Condensed|Cormorant+Upright|Bellota|Forum|Corben|Srisakdi|McLaren|Katibeh|Atma|Life+Savers|Oregano|Farsan");

$dark-red: #640c0c;
$content-title: #505050;
$main-content-background: #fffbee;
$th-item-title: rgb(224, 224, 224);
$header-title-link: #dbd9d9;
$news-content-color: rgb(63, 63, 66);
$header-subtitle: #f0e6fc;
$gallery-image-background: #eeeeee;
$title-hover: lightgray;
$body-font-color: black;
$header-title-color: #e0e0e0;

@mixin bg-gradient-header() {
    background-image: linear-gradient(to bottom, #991f0d, #9b1a1a, #820404);
}

@mixin item-title-gradient() {
    background-image: linear-gradient(to left, #eae9e9, #e3e3e3, #e2dddd);
}

@mixin content-main-div-background() {
    background-image: linear-gradient(#b5b5b5, #dedcdc, #cacaca, #b9b7b7);
}

@mixin news-item-header-background() {
    background-image: linear-gradient(#cccbcb, #fff9f9, #d2d0d0);
}

html {
    background-color: rgb(255, 219, 219);
    font-family: "Tangerine", "Bellota Text", "Charm", "Arima Madurai", "Handlee", Helvetica, Arial;
    font-display: swap;
}
body {
    -webkit-transition: all 5s ease;
    -moz-transition: all 5s ease;
    -o-transition: all 5s ease;
    transition: all 5s ease;
    transition: height 8s ease;
    margin: 0 auto;
}

body,
article,
section {
    font-family: "Hind Guntur";
    color: $body-font-color;
}
body {
    position: sticky;
    width: 100%;
    background: wheat !important;
}

.top-div {
    min-height: 800px;
    background: none;
    background-color: none;
    background: linear-gradient(45deg, #ff9437, #ff9437, #f35555, #ff9437);
}

.right-112 {
    text-align: left;
}

.right-title {
    font-weight: bold;
    padding-left: 20px;
    padding-top: 20px;
}

.right .right-title {
    text-align: left;
}

ul.right-list-112 {
    list-style-type: circle;
}

.main-content {
    /* background-color: $main-content-background;
 */
    padding: 10px;
    width: 60%;
    margin: 0 auto;
    margin-top: 48px;
    min-height: 1500px;
    flex-grow: 3;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: "Bellota Text";
    background-color: #fffcda;
    /* opacity: 0.93; */
    box-shadow: 2px 9px 17px #d2c7ac;
    /* background: linear-gradient(to left, #fcfafa00 1%, #ffffff, #fff2e5, #fbecdd, #fbecdd, #fbecdd, #fffbfb05);
 */
}

.bla {
    font-size: xx-large;
    margin: 100px 0px;
    font-style: bold;
}
.pisave-div {
    font-size: x-large;
    margin-top: 100px;
}

.pisave-div > div {
    margin-bottom: 60px;
}

.kom-item-img {
    margin-top: 5%;
}

.quote-text.test-1 {
    font-size: 24px;
}

.quote-text.test-2 {
    font-size: 24px;
}

.quote-text.test-3 {
    font-size: 24px;
}

.quote-text.test-4 {
    font-size: 24px;
}

.test-1 {
    font-family: PlayBall !important;
}

.test-2 {
    font-family: Marck Script !important;
}

.test-3 {
    font-family: Glass Antiqua !important;
    font-style: italic;
}

.test-4 {
    font-family: Lobster !important;
}

.pisava-1 {
    font-family: Italianno !important;
    margin-bottom: 30px;
}
.pisava-2 {
    font-family: Felipa !important;
    margin-bottom: 30px;
}
.pisava-3 {
    font-family: Bad Script !important;
    margin-bottom: 30px;
}
.pisava-4 {
    font-family: Grandstarter !important;
    margin-bottom: 30px;
}

.pisava-5 {
    font-family: Happy Monkey !important;
    margin-bottom: 30px;
}
.pisava-6 {
    font-family: Merienda !important;
    margin-bottom: 30px;
}
.pisava-7 {
    font-family: Coming Soon !important;
    margin-bottom: 30px;
}
.pisava-8 {
    font-family: Handlee !important;
    margin-bottom: 30px;
}
.pisava-9 {
    font-family: Patrick Hand !important;
    margin-bottom: 30px;
}
.pisava-10 {
    font-family: Tangerine !important;
    margin-bottom: 30px;
}
.pisava-11 {
    font-family: Stalemate !important;
    margin-bottom: 30px;
}
.pisava-12 {
    font-family: Balsamiq Sans !important;
    margin-bottom: 30px;
}

.pisava-13 {
    font-family: Marck Script !important;
    margin-bottom: 30px;
}
.pisava-14 {
    font-family: Lobster !important;
    margin-bottom: 30px;
}
.pisava-15 {
    font-family: PlayBall !important;
    margin-bottom: 30px;
}

.pisava-16 {
    font-family: Sansita Swashed !important;
    margin-bottom: 30px;
}

.pisava-17 {
    font-family: Kavivanar !important;
    margin-bottom: 30px;
}

.pisava-18 {
    font-family: Ranga !important;
    margin-bottom: 30px;
}
.pisava-19 {
    font-family: Glass Antiqua !important;
    margin-bottom: 30px;
    font-style: italic;
}

.blog-text.pisava-19 {
    font-size: 22px;
    letter-spacing: 0.8px;
}
.pisava-20 {
    font-family: Grandstander;
    font-style: italic;
}
.pisava-21 {
    font-family: Forum;
    font-style: italic;
}
.pisava-22 {
    font-family: Corben;
    font-style: italic;
}
.pisava-23 {
    font-family: McLaren;
    font-style: italic;
}
.pisava-24 {
    font-family: Oregano;
    font-style: italic;
}
.pisava-25 {
    font-family: Life Savers;
    font-style: italic;
}
.pisava-26 {
    font-family: Katibeh;
    font-style: italic;
}
.pisava-27 {
    font-family: Atma;
    font-style: italic;
}
.pisava-28 {
    font-family: Farsan;
    font-style: italic;
}
.pisava-29 {
    font-family: Srisakdi;
}
.pisava-30 {
    font-family: Dynalight;
}
.pisava-31 {
    font-family: Bellota !important;
    font-style: italic !important;
}
.pisava-32 {
    font-family: Cormorant Upright !important;
    font-style: italic !important;
    font-size: 1.2rem !important;
    letter-spacing: 0.5px;
    font-style: normal !important;
}
.pisava-33 {
    font-family: Open Sans Condensed !important;
    font-style: italic !important;
}
.pisava-34 {
    font-family: Forum;
}
.pisava-35 {
    font-family: Forum;
}
.pisava-36 {
    font-family: Forum;
}
.pisava-37 {
    font-family: Forum;
}
.pisava-38 {
    font-family: Forum;
}
.pisava-39 {
    font-family: Forum;
}
.pisava-40 {
    font-family: Forum;
}

.blog-text.pisava-17 {
}

.blog-text.pisava-13 {
    font-size: 21px !important;
}
.blog-text.pisava-arima {
    font-size: 20px !important;
    font-family: Arima Madurai;
    font-style: italic;
}

.komunikacija-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5% auto 1% auto;
    max-width: 1800px;
    /* width: 80%; */
    font-family: Bellota Text;
    font-size: x-large;
    font-style: italic;
    color: #220202;
    text-align: justify;
}

.aktualno-content {
    color: #220202;
    margin: 5% auto 1% auto;
    font-size: x-large;
    /*  font-style: italic; */
    width: 70%;
}

.aktualno-li {
    color: rgb(143, 34, 34);
    font-size: larger;
    list-style: disclosure-closed;
}

.aktualno-li > div {
    color: rgb(100, 77, 77);
    font-size: small;
    margin-left: 2%;
    display: inline-block;
}

.komunikacija-intro {
    margin-top: 2%;
    padding: 0px 3%;
}

.komunikacija-item {
    padding: 2%;
    /*     border: 1px solid #f9d9d9;
    border-top: 25px solid #e9c9f2; */
    max-width: 1900px;
    border-radius: 7px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.kom-img {
    justify-content: center;
}

.komunikacija-item.kom-sluzimgba > .komunikacija-text {
    margin-bottom: 4%;
}

.komunikacija-text {
    width: 68%;
    font-size: large;
    margin-right: 2%;
}

.aktualno-text {
    width: 68%;
    font-size: large;
    margin-right: 2%;
}

.komunikacija-content-bottom {
    margin-top: 10%;
    padding: 0px 3%;
    font-family: Arima Madurai;
    font-size: large;
    margin: 10% auto 0%;
    width: 80%;
    font-weight: bold;
    letter-spacing: 1px;
    color: #78070b;
    /*  font-family: Great Vibes; */
    font-style: italic;
}

.komunikacija-title {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 2.5%;
    width: 60rem;
    text-align: center;
}

.aktualno-title {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 2.5%;
    width: 60rem;
}

.o-meni-quote {
    font-family: "Merienda";
    width: 80%;
    padding-top: 4%;
    padding-bottom: 0%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin: 0 auto;
    margin-top: 4%;
    background-color: #fdf6d0;
    /*     box-shadow: 3px 4px 17px 6px #efdac3;
 */
    font-size: larger;
}

.author {
    text-align: center;
    font-size: small;
    opacity: 0.8;
}

/*.o-meni-quote::before{
  display: block;
   background: url("/assets/icon/quote-left.png");

}*/

/* .povezave-right {
    font-size: x-small;
    text-align: center;
    margin-top: 30px;
    padding: 0px 5px;
} */

.povezave-right.address {
    font-size: small;
}

.o-meni-content {
    width: 80%;
    margin: 5% auto;
    /* font-style: italic; */
    color: #210200;
    font-size: large;
    font-family: Bellota Text;
}

.predavanja-content {
    width: 80%;
    margin: 4% auto 2%;
    font-style: italic;
    text-align: justify;
    color: #210200;
}

.delavnice-content {
    width: 80%;
    margin: 2% 4% auto;
    text-align: justify;
    color: #210200;
}

.promocija-content {
    width: 80%;
    margin: 0 auto;
    margin-top: 8%;
    font-size: large;
    font-family: Bellota Text;
    font-style: italic;
    text-align: justify;
    color: #210200;
}

.blog-content {
    width: 80%;
    margin: 2% auto;
    font-style: italic;
    text-align: justify;
    color: #210200;
    font-size: larger;
    font-family: Bellota Text;
}
.predavanja-content {
    width: 80%;
    margin: 6% auto;
    font-style: italic;
    text-align: justify;
    color: #210200;
    font-size: larger;
}

.predavanja-item {
    margin-top: 4%;
}

.zahvale {
    width: 80%;
    margin: 2% auto;
    font-family: "Bellota Text";
    font-size: x-large;
    margin-top: 6%;
    color: #250101;
}

/* svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
} */
.box-container {
    /* position: relative; */
    width: 100%;
    /* padding-bottom: 10%; */
    vertical-align: middle;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 8888888;
    margin-top: -2px;
}
/**  zaenkrat skrijemo svg**/
.box-container > svg {
    height: 0;
}

.box-container-1 {
    /**popravljeno zaenkrat tako, da bom se naknadno naredila spodaj vijuge in ozadje*/
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    box-shadow: -4px 20px 15px #8e774c;
}

.zahvale-section {
    width: 80%;
    margin: 6% auto;
    font-family: "Handlee";
    font-style: italic;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    max-width: 1200px;
}

/* .zahvale-section > div:nth-child(2) {
    margin-left: 10px;
}

.zahvale-section:nth-child(2) {
    margin-right: 10px;
} */

.zahvala {
    width: 28%;
    margin-bottom: 3%;
    padding: 4% 4%;
    background-color: #fbfdb3;
    box-shadow: 5px 5px 15px 5px #fce5d1;
    /* color: #633106; */
    color: rgb(0, 0, 0);
    margin: 0 20px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    opacity: 0.6;
}

.zahvala-1 {
    transform: rotateZ(2deg);
    background-color: #fdf2cf;
}

.zahvala-2 {
    transform: (-2deg);
    background-color: #fdfece;
}

.zahvala-3 {
    transform: rotateZ(-2deg);
    background-color: #f2ffd3;
}

.zahvala-4 {
    transform: rotateZ(1deg);
    background-color: #fff7e0;
}
.zahvala-5 {
    transform: rotateZ(1deg);
    background-color: #faf4d9;
}
.zahvala-6 {
    transform: rotateZ(-2deg);
    background-color: #fcfecb;
}
.zahvala-7 {
    transform: rotateZ(1deg);
    background-color: #fcf7d7;
}
.zahvala-8 {
    transform: rotateZ(4deg);
    background-color: #f4f9e6;
}
.zahvala-9 {
    transform: rotateZ(-1deg);
    background-color: #fdf5c7;
}
.zahvala-10 {
    transform: rotateZ(2deg);
    background-color: #fff7e0;
}

.zahvala-name {
    font-family: Happy Monkey;
    margin-top: 10px;
}

.main-content-left {
    width: 9%;
    /* background: linear-gradient(to bottom, #fda64c, #f14706); */
}

.main-content-right {
    width: 10%;
    background: transparent;
    color: #fce9b6;
    font-family: bellota text;
    font-style: italic;
    /* background: linear-gradient(to bottom, #fda64c, #f14706); */
    /* background: linear-gradient(to bottom, #ff5532, #fa301a);
} */
}

.main-content-right-title {
    color: black;
    margin-top: 10px;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

.content-title {
    color: $content-title;
    font-family: "Montserrat";
    font-size: 1.8em;
    margin-bottom: 20px;
    margin-top: 20px;
}

li {
    text-decoration: none;
    list-style: none;
}

.header {
    margin-bottom: 0rem;
    height: 460px;
    /** vijolicna tema **/
    /*background: linear-gradient(45deg, #60259d99, #8b1c9c, #60259d99); */
    /*     background: linear-gradient(45deg, #661109, #7e2d07, #dfb50c);
 */

    /*  background: linear-gradient(45deg, #eaea6e, #ef8c38, #ef4938, #fc1414, #ed7108, #f8f872);
    background: linear-gradient(45deg, #fdfd7a, #fd6b6b, #f35555, #f9fc71); */

    /* background: linear-gradient(45deg, #f8f87a, #ff9437, #f35555, #f93131); */
    /* background: linear-gradient(#fd4343a3, #fdc37f, #de7d4a); */
    background: linear-gradient(45deg, transparent, #f87271, #f77070, transparent);
    /*   background: linear-gradient(45deg, brown, #f77070, transparent); */
    transition: height 8s ease-out;
}

.header-image {
    height: 200px;
    margin-left: 40px;
}

.header.row {
    padding: 10px;
    display: flex;
}

.news-date {
    font-style: italic;
    color: rgb(97, 96, 96);
    display: inline;
}

.news-header {
    display: inline-block;
}

.news-item-title {
    width: 100%;
    padding-left: 15px;
    display: block;
    text-align: start;
    font-family: "Montserrat";
    color: $dark-red;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
}

.content-main-div {
    margin: 0 auto;
    width: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    /* background-color: #ffecec; */
    /* background: linear-gradient(to bottom, #fcfde9, #fffbee, #fffbee, #fffbee, #fbead7);
     */
    /*     background: linear-gradient(to right, #fbe7c2 1%, #ffffff, #fffbee, #fffbee, #fbead7);
 */
    display: flex;
    flex-wrap: wrap;
    min-height: 1200px;
    /** varianta 1 */
    background: linear-gradient(to bottom, #f4f391, #f7ae51, #fd8967, #f4a35d, #f9ee95, #f9ee95);
    /** varianta 2 */
    background: linear-gradient(to bottom, #f4f391, #f4db91, #f7ae51, #fd8967, #f4a35d, #f9ee95, #f9ee95);
    /** varianta 4*/
    background: linear-gradient(to bottom, #fdb154, #fff39c, #fdf3a8, #ffbf70);
}

.quote-text {
    line-height: 60px;
    font-family: Italianno;
    font-size: xx-large;
    font-size: 38px;
    letter-spacing: 1px;
    color: #6b4200;
    /* font-family: Great Vibes; */
    text-shadow: 2px 1px #f5f5f5;
    transition: height 8s linear;
}

.quote-logo > img {
    width: 50px;
    margin-bottom: 10px;
    display: inline-block;
    opacity: 0.7;
    z-index: 999;
}

a.povezava-item > img {
    width: 70px;
    margin-bottom: 10px;
}

.dropdown {
    width: 25%;
}

.news-item-header {
    background-image: linear-gradient(#cccbcb, #fff9f9, #d2d0d0);
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: lightgray 1px solid;
    font-size: smaller;
    display: flex;
    flex-wrap: nowrap;
}

.news-front-image {
    flex-basis: auto;
    min-width: 300px;
}

.news-front-content {
    flex-basis: auto;
    padding: 2%;
}

.news-item-link {
    margin-left: 5%;
    color: $dark-red;
}

.news-item-date {
    padding-left: 15px;
    margin-bottom: 10px;
    display: inline-block;
    font-style: italic;
    color: $dark-red;
}

.news-item-intro {
    padding-left: 15px;
    margin-bottom: 0px;
    font-size: larger;
}

.section-title {
    text-align: left;
}

.gallery-content {
    margin: 4%;
}

.section-column {
    float: left;
    width: 20%;
    padding: 10px;
}

.first-column {
    width: 40%;
}

.section-table {
    margin: auto;
    font-size: smaller;
}

.item-title {
    margin: 20px 0px 20px 0px;
    border-bottom: 1px solid lightgrey;
    font-family: "Montserrat";
    padding: 5px;

    color: gray;
    font-weight: 600;
}

table {
    font-size: small;
    width: 60%;
}

.content-section-contact {
    padding: 10px;
    line-height: 0.4rem;
}

.footer {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffced;
}

.footer-text {
    visibility: hidden;
    color: black;
    display: inline-block;
    font-style: italic;
}

.main-footer-div {
    text-align: center;
    font-size: 2rem;
    color: white;
}

.work-item {
    margin-left: 15px;
}

.img-article {
    margin-left: 15px;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header-logo {
    flex-grow: 1;
}

.o-meni-text {
    font-family: Bellota Text;
}

.header-main-div {
    flex-grow: 4;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-icons {
    flex-grow: 1;
    padding-top: 10px;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

th.item-title {
    background: none;
    text-align: left;
    background-color: $th-item-title;
}

tr > td:first-child {
    text-align: left;
}

th {
    padding: 5px;
}

td {
    padding: 10px;
}

table > tr > th {
    width: 35%;
}

.thumb {
    width: 200px;
}

.ul-news-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.header-title-link {
    color: #fff2c3;
    text-decoration: none;
    text-align: center;
    font-family: Tangerine;
    font-size: 3em;
    /*    text-shadow: 0.5px 0 #444242, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
 */
}

.header-title-p {
    color: #fff2c3;
    text-decoration: none;
    text-align: center;
    font-family: "Marck Script";
    font-size: larger;
    display: block;
    padding: 0 20px;
}

.page-title-link {
    color: #fbf67e;
    font-size: 3.2em;
    font-family: Tangerine;
    /*  font-family: Allura;
    font-family: Great Vibes; */
    /* font-family: Arizonia; */
    /*  font-family: Calligraffitti; */

    /* font-family: Montez; */
    text-shadow: 2px 2px #a55454;
    text-decoration: none;
    font-weight: normal;
}

.page-title-link:hover {
    text-decoration: none;
    color: #ffea83 !important;
}

a.header-title-link:hover {
    text-decoration: none;
    color: #ffea83;
    padding: 10px;
}

.emoji {
    font-size: medium;
    font-style: normal;
}

.motivation-quote-1 {
    margin-top: 4%;
    padding: 3% 2%;
    margin-bottom: 4%;
    width: 80%;
    font-family: Italianno;
    font-size: xx-large;
    font-size: 38px;
    letter-spacing: 1px;
    color: #6b4200;
    margin: 0 auto;
    text-shadow: 2px 1px #f5f5f5;
    -webkit-transition: height 8s linear;
    transition: height 8s linear;
}

.gallery-image {
    transition: 0.9s;
}
.gallery-image-content:hover {
    filter: brightness(100%);
    transform: scale(1.01);
}

.gallery-content {
    /**/
    display: flex;
    flex-wrap: wrap;
    /**/
    justify-content: center;
    /* */
    /*  column-count: 4;
  column-gap: 1em;
*/
    /* */
}

.gallery-image-content {
    align-self: center;
    transform-origin: 50% 65%;
    transition: transform 1s, filter 2s ease-in-out;
    filter: brightness(150%);
    margin: 3px;
    background-color: $gallery-image-background;
    display: inline-block;
    /*
    margin: 0 0 1em;
    width: 100%; */
}

.povezave-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.povezave-link {
    text-align: center;
    padding: 5px;
}

.povezave-link > a {
    font-size: x-small;
    color: rgb(188, 101, 196);
    font-family: Verdana;
    word-break: break-all;
}

.header-icons > a {
    margin: 5px;
}

.home-section {
    min-height: 800px;
}

.link-news {
    color: lightgray;
    padding-top: 15px;
    display: inline-block;
    font-size: smaller;
}

@media (min-width: 200px) and (max-width: 500px) and (orientation: portrait),
    (min-width: 200px) and (max-width: 500px) and (orientation: landscape) {
    .header {
        flex-direction: column;
        padding: 25px;
    }

    .header-title-link {
        font-size: medium;
    }

    .dropdown {
        width: auto;
    }

    .header-icons {
        align-self: center;
    }

    .povezave-content {
        width: 100%;
    }

    .gallery-content {
        margin: 0;
    }

    .gallery-image {
        width: auto;
        height: auto;
    }

    .news-front-image {
        flex-basis: auto;
        width: 100%;
    }

    .news-item-header {
        flex-wrap: wrap;
    }

    .main-content {
        width: 95%;
    }

    .main-content-right {
        width: 100%;
        border-top: 2px darkgray solid;
    }

    .povezave-right {
        text-align: center;
        margin-left: 0px;
    }

    .povezave-link {
        text-align: center;
        margin-left: 0px;
    }

    .news-item-title,
    .news-item-intro,
    .news-item-date,
    .content-section {
        padding: 0;
        margin: 0;
    }

    .news-item-date {
        margin-bottom: 10px;
        margin-top: 5px;
    }

    table {
        width: 100%;
    }

    .news-front-image {
        min-width: 200px;
    }
}

@media (min-width: 700px) and (max-width: 1200px) and (orientation: portrait) {
    .gallery-image {
        width: 200px;
    }
    .news-front-image {
        min-width: 200px;
    }

    .right-title {
        padding-left: 10px;
    }
    .zahvala {
        width: 40%;
    }
    .blog-content,
    .komunikacija-content {
        width: 100%;
    }

    .kom-sluzba-img,
    .kom-item-img {
        width: 90%;
    }

    .komunikacija-text {
        width: 90%;
        margin-bottom: 4%;
    }
}

@media (max-height: 400px) and (min-width: 500px) and (orientation: landscape) {
    .right-title {
        padding-left: 10px;
    }

    .povezave-right {
        margin-left: -20px;
    }

    .povezave-right.address {
        font-size: x-small;
        margin: 5px;
    }

    .navbar-nav {
        position: absolute;
    }
}

@media only screen and (min-width: 1024px) {
    .gallery-content {
        column-count: 4;
    }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .gallery-content {
        column-count: 3;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 200px) and (orientation: landscape) {
    .zahvala {
        width: 40%;
    }

    .motivation-quote-1 {
        font-size: large;
    }
    .blog-title {
        font-size: x-large;
    }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 200px) {
    .page-title-link {
        font-size: 3rem;
    }

    .blog-title {
        font-size: x-large;
    }

    .header-main-div {
        padding: 0;
        flex-direction: column;
    }

    .komunikacija-content-bottom {
        padding: 0;
    }

    .kom-sluzba-img {
        width: 100%;
        max-width: 250px;
    }

    @media screen and (orientation: landscape) {
        .blog-item > .blog-title {
            font-size: x-large;
        }
    }

    .gallery-content {
        column-count: 2;
    }

    .news-item-header {
        display: block;
    }

    .o-meni-quote {
        width: auto;
        padding-left: 0;
        padding-right: 0;
    }
    .o-meni-quote > .quote-text {
        line-height: unset;
    }

    .motivation-quote-1 {
        font-size: large;
        width: auto;
    }

    .o-meni-content {
        margin-top: 8%;
        margin-bottom: 5%;
        width: auto;
    }

    .predavanja-content,
    .delavnice-content,
    .promocija-content,
    .o-meni-content,
    .blog-content,
    .komunikacija-content {
        margin-top: 5%;
        width: auto;
        text-align: left;
        font-size: large;
    }

    .blog-content > .blog-item {
        padding: 0px;
    }

    .blog-item > .blog-text {
        font-size: medium;
    }

    .zahvala {
        width: 100%;
    }

    .zahvale-section {
        width: auto;
    }

    .komunikacija-item {
        flex-direction: row;
        justify-content: center;
    }
    .komunikacija-text {
        width: auto;
        margin-bottom: 4%;
    }
}
