$menu-box-top-bck: #292929;
$selected-item: #f9f4ee;
$yellow-bck: #faf46d;

.main-menu-panel {
    position: absolute;
    margin-top: 475px;
    margin-left: -35px;
    opacity: 1;
    z-index: 99999;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.main-menu-top {
    /* box-shadow: 4px 4px 11px rgba(13, 13, 13, 0.3); */
    top: 0px;
    margin-top: -2px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(#f4f391, #f4f391);
    color: #740b0b;
    /*  border-top: 0.5px solid #85a4ae;
    border-bottom: 0.5px solid #85a4ae; */
}

.main-menu-product-box {
    margin: 0px 25px;
    opacity: 0.9;
    display: flex;
    width: 200px;
    flex-direction: row;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
    color: #740b0b;
}

.content-menu {
    margin-top: -80px;
}

.main-menu-link {
    color: #000000;
    margin: 0px 10px;
    text-decoration: none;
    font-size: large;
    width: auto;
    background-color: transparent;
    border: none;
    font-family: Bellota Text;
    padding: 0px 29px;

    display: flex;
    font-style: italic;
    align-items: center;

    height: 80px;

    /*     font-family: Arizonia;
    font-family: Calligraffitti;
    font-family: Montez;
    font-family: Tangerine;
    font-family: Allura;
    font-family: Great Vibes; */
}
/* 
.main-menu-link.vps {
  display: none;
} */
.menu-title {
    transition: linear 0.4s;
    text-decoration: none;
    color: #734938;
    font-weight: bold;
}

a:hover {
    text-decoration: none !important;
    color: unset !important;
}

.menu-title:hover {
    background-color: none;
    color: black;
    transform: scale(1.15);
    text-decoration: none;
}

.top-content-menu {
    height: 300px;
    /*ToDo*/
    position: absolute;
    top: 435px;
    width: 100%;
}

.main-menu-products {
    padding-top: 11px;
    padding-bottom: 12px;

    background-color: #f4f391;
    box-shadow: 3px 5px 6px rgba(86, 86, 86, 0.3);
    z-index: 99999;
    /*     border-top-right-radius: 6%;
    border-bottom-right-radius: 21%;
    border-bottom-left-radius: 4%; */
    /*  background-image: linear-gradient(#f2efef, #fff9f9, #e6e5e5); */
}

.main-menu-product-desc {
    font-size: large;
    border-bottom: 1px solid #f0afaf;
    font-variant: normal;
    font-family: Bellota Text;
    color: #000000;
    text-shadow: 1px -1px #f7c5a6;
    padding: 5px 10px;
    font-style: italic;
    transition: linear 0.4s;
}

.main-menu-product-desc:hover {
    text-decoration: none;
    transform: scale(1.15);
}

.main-menu-img {
    margin-top: 20px;
    width: 85px;
    opacity: 0.9;
}

.main-menu-img.Backup.Box {
    width: 100px;
    opacity: 0.9;
    margin-top: 0px;
}

.burger-menu-icon {
    display: none;
}

.main-menu-links {
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.main-menu-submenu {
    display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
    .main-menu-top {
        height: 80px;
        opacity: 1;
    }

    .box-container,
    .box-container-1 {
        display: none !important;
    }

    .content-menu {
        margin-top: unset;
    }

    li {
        padding: 0 15px;
    }

    .burger-menu-icon {
        height: 22px;
        width: 36px;
    }
}

@media only screen and (orientation: landscape) and (max-device-width: 1279px) {
    @media only screen and (orientation: landscape) and (max-device-width: 1366px) {
        .main-menu-top {
            height: 40px;
        }

        .main-menu-submenu.submenu-show {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }

        .main-menu-links.toggleMenu > div > .main-menu-link.submenu {
            font-size: small;
            border-bottom: 1px solid white;
        }

        .burger-menu-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            top: 8px;
            left: 2px;
            position: absolute;
            height: 22px;
            width: 36px;
            color: #8b5645;
            z-index: 99999;
            cursor: pointer;
        }

        .main-menu-links.toggleMenu {
            height: auto;
            display: flex;
            flex-direction: column;
            background-color: #f4f391;
            top: 30px;
            left: 0px;
            width: auto;
            z-index: 99999;
        }

        .main-menu-links.toggleMenu > div > .main-menu-link {
            font-size: medium;
            height: 55px;
        }

        .main-menu-links {
            display: none;
        }

        .main-menu-panel {
            display: none;
        }
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
    .main-menu-top {
        height: 30px;
    }

    .burger-menu-icon {
        height: auto;
        top: 7px;
        height: 15px;
        width: auto;
    }

    .main-menu-links.toggleMenu {
        top: 30px;
    }
}
@media only screen and (orientation: portrait) {
    .main-menu-submenu.submenu-show {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .main-menu-links.toggleMenu > div > .main-menu-link.submenu {
        font-size: small;
        border-bottom: 1px solid white;
    }

    .burger-menu-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        top: 10px;
        left: 10px;
        position: absolute;
        height: 30px;
        width: 36px;
        color: #8b5645;
        z-index: 99999;
        cursor: pointer;
    }

    .main-menu-links.toggleMenu {
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: #f4f391;
        top: 49px;
        left: 0px;
        width: auto;
        z-index: 999;
    }

    .main-menu-links.toggleMenu > div > .main-menu-link {
        font-size: medium;
        height: 55px;
    }

    .main-menu-links {
        display: none;
    }

    .main-menu-panel {
        display: none;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 640px) and (orientation: landscape) {
    .main-menu-top {
        height: 30px;
    }

    .burger-menu-icon {
        top: -3px;
        left: 0px;
        height: 16px;
    }
}
