/* @import url('https://fonts.googleapis.com/css?family=Montserrat|Gudea|Hind+Guntur|Michroma|Sulphur+Point|Mallanna|Lora|Handlee');
 */
@import url("https://fonts.googleapis.com/css?family=Ranga|Glass+Antiqua|Hind+Guntur|Lobster|Playball|Sansita+Swashed|Galada|Charm|Kavivanar|Shadows+Into+Light|Lemonada|Montez|Qwigley|Ruge+Boogie|Satisfy|Pacifico|Arizonia|Calligraffitti|Great+Vibes|Allura|Chilanka|Balsamiq+Sans|Marck+Script|Felipa|Bad+Script|Overlock|Grandstander|Bellota+Text|Happy+Monkey|Merienda|Coming+Soon|Handlee|Stalemate|Italianno|Mali|Pangolin|Patrick+Hand|Baloo+Thambi+2|Arima+Madurai|Tangerine");

// nove pisave
@import url("https://fonts.googleapis.com/css?family=Grandstander|Special+Elite|Dynalight|Open+Sans+Condensed|Cormorant+Upright|Bellota|Forum|Corben|Srisakdi|McLaren|Katibeh|Atma|Life+Savers|Oregano|Farsan");

html {
    background-color: rgb(255, 219, 219);
    font-family: "Tangerine", "Bellota Text", "Charm", "Arima Madurai", "Handlee", Helvetica, Arial;
    font-display: swap;
}
body {
    -webkit-transition: all 5s ease;
    -moz-transition: all 5s ease;
    -o-transition: all 5s ease;
    transition: all 5s ease;
    transition: height 8s ease;
    margin: 0 auto;
}

body {
    font-family: "Hind Guntur";
    position: sticky;
    width: 100%;
    background: wheat !important;
    --theme-ui-colors-text: none;
    --theme-ui-colors-background: none;
    --theme-ui-colors-primary: none;
}

.top-div {
    min-height: 800px;
    background: none;
    background-color: none;
    background: linear-gradient(45deg, #ff9437, #ff9437, #f35555, #ff9437);
}

.kom-img-desc {
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.main-content {
    padding: 10px;
    width: 60%;
    margin: 0 auto;
    margin-top: 48px;
    min-height: 600px;
    flex-grow: 3;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-bottom: 100px;
    font-family: "Bellota Text";
    background-color: #fffbf4;
    box-shadow: 2px 9px 17px #d2c7ac;
}

.pisave-div {
    font-size: x-large;
    margin-top: 100px;
}

.pisave-div > div {
    margin-bottom: 60px;
}

.aktualno-content {
    color: #220202;
    margin: 5% auto 1% auto;
    font-size: x-large;
    /*  font-style: italic; */
    width: 70%;
}

.aktualno-li {
    color: rgb(143, 34, 34);
    font-size: larger;
    list-style: disclosure-closed;
}

.aktualno-li > div {
    color: rgb(100, 77, 77);
    font-size: small;
    margin-left: 2%;
    display: inline-block;
}

.aktualno-text {
    width: 68%;
    font-size: large;
    margin-right: 2%;
}

.aktualno-title {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 2.5%;
    width: 60rem;
}

.predavanja-content {
    width: 80%;
    margin: 4% auto 2%;
    text-align: justify;
    color: #210200;
}

.delavnice-content {
    width: 80%;
    margin: 2% 4% auto;
    text-align: justify;
    color: #210200;
}

.promocija-content {
    width: 80%;
    margin: 0 auto;
    margin-top: 8%;
    font-size: large;
    font-family: Bellota Text;
    text-align: justify;
    color: #210200;
}

.predavanja-content {
    width: 80%;
    margin: 6% auto;
    text-align: justify;
    color: #210200;
    font-size: larger;
}

.trak-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.predavanja-item {
    margin-top: 4%;
}

.predavanja-item-title {
    font-weight: bold;
    font-size: larger;
}

/* .box-container-1 {
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    box-shadow: -4px 20px 15px #8e774c;
} */

.main-content-left {
    width: 9%;
    /* background: linear-gradient(to bottom, #fda64c, #f14706); */
}

.main-content-right {
    width: 10%;
    background: transparent;
    color: #fce9b6;
    font-family: bellota text;
    font-style: italic;
    /* background: linear-gradient(to bottom, #fda64c, #f14706); */
    /* background: linear-gradient(to bottom, #ff5532, #fa301a);
} */
}

.main-content-right-title {
    color: black;
    margin-top: 10px;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

li {
    text-decoration: none;
    list-style: none;
}

.content-main-div {
    margin: 0 auto;
    width: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    /* background-color: #ffecec; */
    /* background: linear-gradient(to bottom, #fcfde9, #fffbee, #fffbee, #fffbee, #fbead7);
     */
    /*     background: linear-gradient(to right, #fbe7c2 1%, #ffffff, #fffbee, #fffbee, #fbead7);
 */
    display: flex;
    flex-wrap: wrap;
    /* min-height: 1200px; */
    padding-bottom: 70px;
    /** varianta 1 */
    /*  background: linear-gradient(to bottom, #f4f391, #f7ae51, #fd8967, #f4a35d, #f9ee95, #f9ee95);
    */ /** varianta 2 */
    /*   background: linear-gradient(to bottom, #f4f391, #f4db91, #f7ae51, #fd8967, #f4a35d, #f9ee95, #f9ee95);
   */ /** varianta 4*/
    /*  background: linear-gradient(to bottom, #ffbf70, #fff39c, #fdf3a8, #ffbf70);
 */
    background: linear-gradient(to bottom, antiquewhite, #fffff3, antiquewhite);
}

.footer {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffced;
}

.footer-text {
    visibility: hidden;
    color: black;
    display: inline-block;
    font-style: italic;
}

.main-footer-div {
    text-align: center;
    font-size: 2rem;
    color: white;
}

.emoji {
    font-size: medium;
    font-style: normal;
    text-shadow: none;
}

.emoji-img {
    width: 20px;
}

@media (min-width: 200px) and (max-width: 500px) and (orientation: portrait),
    (min-width: 200px) and (max-width: 500px) and (orientation: landscape) {

    .gallery-content {
        margin: 0;
    }

    .gallery-image {
        width: auto;
        height: auto;
    }

    .main-content {
        width: 95%;
    }

    .main-content-right {
        width: 100%;
        border-top: 2px darkgray solid;
    }
}

@media only screen and (max-width: 767px) and (min-width: 200px) {
    .main-content {
        padding: 4% 3%;
    }

    .predavanja-content,
    .delavnice-content,
    .promocija-content,
    .o-meni-content,
    .blog-content,
    .komunikacija-content {
        margin-top: 5%;
        width: 90%;
        text-align: left;
        font-size: large;
    }
}
