$menu-box-top-bck: #292929;
$selected-item: #f9f4ee;
$yellow-bck: #faf46d;

:root {
    --bg: #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
}

.main-menu-panel {
    position: absolute;
    margin-top: 555px;
    margin-left: -35px;
    opacity: 1;
    z-index: 99999;
    display: block;
}

.main-menu-top {
    /* box-shadow: 4px 4px 11px rgba(13, 13, 13, 0.3); */
    top: 0px;
    margin-top: -2px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /*  background: linear-gradient(#f4f391, #f4f391);
    background: linear-gradient(to bottom, #f4f391, #f4f391, #f4f391); */
    color: #740b0b;
/*     background-color: #fff394;
 */    /*  border-top: 0.5px solid #85a4ae;
    border-bottom: 0.5px solid #85a4ae; */
    background: linear-gradient(to bottom, #fff9ce, #fff6d6, #ffe2aa);
}

.example-enter {
    opacity: 0.8;
    /* transform: translateX(-110%); */
    background-color: green;
    color: red;
    /*   margin-top: 0px; */
    transition: opacity 0.5s ease-in;
    overflow: hidden;
    /*     transition: height 3s ease-in; */
    /* transform: scaleY(200%); */
}



.example-enter-active {
    opacity: 1;
    /* transition: all var(--speed) ease; */
    transition: opacity 0.5s ease-in;
}

/** tukaj bomo dali, da se zapelje nazaj gor**/
.example-exit {
    opacity: 0.55;
    transition: opacity 0.5s ease-out;
}

/**/
.example-exit-active {
    opacity: 0.5;
    transition: opacity 0.4s ease-out;
    /*  transform: translateX(-110%); */
    /*    transition: all var(--speed) ease/; */
}

.main-menu-product-box {
    margin: 0px 25px;
    opacity: 0.9;
    display: flex;
    width: 200px;
    flex-direction: row;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
    color: #740b0b;
}

.content-menu {
    /* margin-top: -80px; */
}

.main-menu-link {
    color: #560000;
    margin: 0px 10px;
    text-decoration: none;
    font-size: large;
    width: auto;
    background-color: transparent;
    border: none;
    padding: 0px 29px;
    display: flex;
    align-items: center;
    height: 80px;
    cursor: pointer;
}

.menu-title {
    transition: linear 0.4s;
    text-decoration: none;
    color: #390101;
    /*   font-weight: bold; */
    font-family: Bellota Text;
    font-display: swap;
    font-style: normal;
    /* font-weight: bold; */
    letter-spacing: 0.7px;
}

a:hover {
    text-decoration: none !important;
    color: unset !important;
}

.main-menu-links.toggleMenu {
    height: auto;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, #f9ecd4,#fff6d5);
}



.menu-title:hover {
    background-color: none;
    color: black;
    transform: scale(1.15);
    text-decoration: none;
    /*  text-shadow: 2px 1px orange; */
    /*    box-shadow: 3px -5px 7px 0px #f488205e;
    padding: 8px 8px;
    border-radius: 74px;
    color: #873901;*/
}
/* 
.main-menu-link:hover:nth-child(1) {
    display: block;
    visibility: visible;
    background-color: green;
}*/

.main-menu-products {
    display: none;
} 

.main-menu-link {
    transition: all 3ms ease-out;

}

 .main-menu-link:hover > .main-menu-panel >.main-menu-products{
    display: block;
    background-color: orange;
    transition: all 3ms ease-out;
} 

/* .main-menu-link:not( :hover ) > .main-menu-panel > .main-menu-products{
    display: none;
}   */ 

.top-content-menu {
    height: 300px;
    /*ToDo*/
    position: absolute;
    /*  top: 435px; */
    /*  top: 510px; */
    margin-top: -78px;
    width: 100%;
}

.main-menu-products {
    padding-top: 11px;
    padding-bottom: 12px;

    box-shadow: 1px 10px 6px rgba(86, 86, 86, 0.3);
    z-index: 99999;
/*     background-color: #fff394;
 */    background-color: #ffe2aa;
    /*     border-top-right-radius: 6%;
    border-bottom-right-radius: 21%;
    border-bottom-left-radius: 4%; */
    /*  background-image: linear-gradient(#f2efef, #fff9f9, #e6e5e5); */
    background: linear-gradient(to top, #fff9ce, #fff6d6, #ffe5b2)
}

.main-menu-product-desc {
    font-size: large;
    font-variant: normal;
    font-weight: normal;
    color: #360000;
    /* text-shadow: 1px -1px #f7c5a6; */
    padding: 5px 10px;
    transition: linear 0.4s;
    font-family: Bellota Text;
    font-display: swap;
}

.main-menu-product-desc:hover {
    text-decoration: none;
    transform: scale(1.15);
}

.main-menu-img {
    margin-top: 20px;
    width: 85px;
    opacity: 0.9;
}

.main-menu-img.Backup.Box {
    width: 100px;
    opacity: 0.9;
    margin-top: 0px;
}

.burger-menu-icon {
    display: none;
}

.main-menu-links {
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    background-color: #fff394;
    /* border-bottom: 1px solid #dfdedd;
    border-top: 1px solid #dfdedd; */
    background: linear-gradient(to bottom, #fff9ce, #fff6d6, #ffe2aa);
}

.main-menu-submenu {
    display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
    .main-menu-top {
        height: 70px;
        opacity: 1;
        /*   margin-top: -75px; */
    }

    .box-container,
    .box-container-1 {
        display: none !important;
    }

    .content-menu {
        margin-top: 77px;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
    .main-menu-top {
        height: 40px;
        margin-top: 70px;
    }

    .box-container-1,
    .box-container {
        display: none !important;
    }

    .burger-menu-icon {
        height: auto;
        width: auto;
    }

    .main-menu-links.toggleMenu {
        top: 110px;
    }
}

@media only screen and (orientation: landscape) and (max-device-width: 1279px) {
    @media only screen and (orientation: landscape) and (max-device-width: 1366px) {
        .main-menu-top {
            height: 40px;
            margin-top: 78px;
        }

        .box-container,
        .box-container-1 {
            display: none !important;
        }

        .main-menu-submenu.submenu-show {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }

        .main-menu-links.toggleMenu > div > .main-menu-link.submenu {
            font-size: small;
            /*             border-bottom: 1px solid rgb(255, 145, 0);
 */
            color: #350028;
        }

        .burger-menu-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -10px;
            left: 2px;
            position: absolute;
            height: 22px;
            width: 36px;
            color: #8b5645;
            z-index: 99999;
            cursor: pointer;
        }

        .main-menu-links.toggleMenu {
            height: auto;
            display: flex;
            flex-direction: column;
            margin-top: 900px;
            left: 0px;
            width: auto;
            z-index: 99999;
            box-shadow: 3px 5px 6px rgba(86, 86, 86, 0.3);
        }

        .main-menu-links.toggleMenu > div > .main-menu-link {
            font-size: medium;
            height: 50px;
        }

        .main-menu-links {
            display: none;
        }

        .main-menu-panel {
            display: none;
        }
    }
}

@media only screen and (orientation: portrait) and (min-device-width: 768px) and (max-device-width: 1024px) {
    .box-container-1,
    .box-container {
        display: none !important;
    }
}

@media only screen and (orientation: portrait) {
    .main-menu-submenu.submenu-show {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .main-menu-links.toggleMenu > div > .main-menu-link.submenu {
        font-size: small;
        font-family: Hind Guntur;
        font-display: swap;
        text-shadow: none;
    }

    .burger-menu-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        /*  top: 10px; */
        margin-top: -10px;
        left: 10px;
        position: absolute;
        height: 30px;
        width: 36px;
        color: #8b5645;
        z-index: 99999;
        cursor: pointer;
    }

    .main-menu-links.toggleMenu {
        height: auto;
        display: flex;
        flex-direction: column;
        top: 177px;
        left: 0px;
        width: auto;
        z-index: 999;
        background: linear-gradient(to bottom, #ffe6b4, #fff6d6, #ffe2aa);
    }

    .main-menu-links.toggleMenu > div > .main-menu-link {
        font-size: medium;
        height: 45px;
        color: #3b0101;
        letter-spacing: 0.3px;
        text-shadow: none;
    }

    .main-menu-links {
        display: none;
    }

    .main-menu-panel {
        display: none;
    }

    @media only screen and (min-device-width: 768px) {
        .main-menu-links.toggleMenu {
            top: 75px;
        }
    }

    @media only screen and (max-device-width: 767px) {
        .main-menu-links.toggleMenu {
            top: 135px;
        }
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 640px) and (orientation: landscape) {
    .main-menu-top {
        height: 50px;
        margin-top: 43px;
    }

    .box-container-1,
    .box-container {
        display: none !important;
    }

    .burger-menu-icon {
        /*   top: -3px;
        top: -73px; */
        left: 0px;
    }
}
