.o-meni-quote {
    font-family: "Merienda";
    width: 80%;
    padding-top: 4%;
    padding-bottom: 0%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin: 0 auto;
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: large;
    text-align: justify;
}

.o-meni {
    color: black;
    max-width: 1500px;
    margin: 0 auto;
}

.o-meni > .omeni-quote-1 {
    width: 80%;
    margin: 0 auto;
    font-size: large;
}

.motivation-quote-1 {
    margin-top: 4%;
    padding: 3% 2%;
    margin-bottom: 4%;
    width: 80%;
    font-family: Italianno;
    font-size: xx-large;
    font-size: 38px;
    letter-spacing: 1px;
    color: #6b4200;
    margin: 0 auto;

    -webkit-transition: height 8s linear;
    transition: height 8s linear;
}

.o-meni-quote.quote-contact {
    margin-top: 0%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0%;
    font-size: large;
}

.o-meni-content {
    width: 80%;
    margin: 5% auto 10%;
    /* font-style: italic; */
    color: #210200;
    font-size: large;
    font-family: Bellota Text;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: justify;
}

.o-meni-textdiv {
    width: 63%;
    margin-right: 4%; 
}
/* svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
} */
.box-container {
    /* position: relative; */
    width: 100%;
    /* padding-bottom: 10%; */
    vertical-align: middle;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 8888888;
    margin-top: -2px;
}
/**  zaenkrat skrijemo svg**/
.box-container > svg {
    height: 0;
}

.zahvala {
    width: 28%;
    margin-bottom: 3%;
    padding: 4% 4%;
    background-color: #fbfdb3;
    box-shadow: -5px 3px 15px 3px #c5c5c5;
    /* color: #633106; */
    color: #7e7d7d;
    margin: 0 20px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    /* opacity: 0.7; */
}

.o-meni-text {
    font-family: Bellota Text;
}

.o-meni-quote-1{
    font-size: large;
}

.zahvale {
    width: 80%;
    margin: 2% auto;
    font-family: "Bellota Text";
    font-size: x-large;
    margin-top: 6%;
    color: #250101;
}

.zahvale-section {
    width: 80%;
    margin: 6% auto;
    font-family: "Handlee";
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    max-width: 1200px;
}

.quote-text {
    line-height: 60px;
    font-family: Italianno;
    font-size: xx-large;
    font-size: 36px;
    letter-spacing: 1px;
    color: #5b3b2b;
    /* font-family: Great Vibes; */
    text-shadow: 8px 0px 9px #eaba92;
    transition: height 8s linear;
}

.quote-logo > img {
    width: 30px;
    margin-bottom: 10px;
    display: inline-block;
    opacity: 0.7;
    z-index: 999;
}

.profile-img {
    border: 5px solid antiquewhite;
    width: 30%;
    max-width: 400px;
}

.zahvala-1 {
    transform: rotateZ(2deg);
    background-color: #FFF2EA;
}

.zahvala-2 {
    transform: (-2deg);
    background-color: #FEFDD9;
}

.zahvala-3 {
    transform: rotateZ(-2deg);
    background-color: #F6FEDD;

}

.zahvala-4 {
    transform: rotateZ(1deg);
    background-color: #fff7e0;
}
.zahvala-5 {
    transform: rotateZ(1deg);
    background-color: #faf4d9;
}
.zahvala-6 {
    transform: rotateZ(-2deg);
    background-color: #FAFEDE;
    box-shadow: 2px 9px 19px 5px #c5c5c5;
}
.zahvala-7 {
    transform: rotateZ(1deg);
    background-color: #FDF8E0;
}
.zahvala-8 {
    transform: rotateZ(-1deg);
    background-color: #F7FAEA;
    box-shadow: 5px 1px 14px 1px #c5c5c5;
}
.zahvala-9 {
    transform: rotateZ(-1deg);
    background-color: #FFF1E5;
}
.zahvala-10 {
    transform: rotateZ(2deg);
    background-color: #FFF8E6;
    box-shadow: 5px 1px 14px 4px #c5c5c5;
}

.zahvala-11 {
    transform: rotateZ(-2deg);
    background-color: #FFF8E6;
}

.zahvala-12 {
    transform: rotateZ(-1deg);
    background-color: #F9FEFA;
}

.zahvala-name {
    font-family: Happy Monkey;
    margin-top: 10px;
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .o-meni-textdiv {
        width: 100%;
        margin-bottom: 7%;
    }

    .zahvale-section {
        flex-direction: column;
        width: 100%;
    }
    .zahvala {
        width: 80%;
        margin-top: 3%;
    }

    @media screen and (orientation: landscape) {
        .zahvala {
            width: 100%;
        }
    }
}

@media (min-width: 700px) and (max-width: 1200px) and (orientation: portrait) {
    .zahvala {
        width: 40%;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 200px) {

    @media only screen and (orientation: landscape) {
        .zahvala {
            width: 80%;
            margin-top: 4%;
        }

        .motivation-quote-1 {
            font-size: large;
        }
    }
    @media only screen and (orientation: portrait) {

        .o-meni-textdiv {
            margin-right: unset;
        }
    }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .o-meni-textdiv {
        width: 80%;
    }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 200px) {
    .o-meni-quote {
        width: 90%;
        padding-left: 0;
        padding-right: 0;
    }

    .quote-logo > img {
        width: 15px;
    }

    .o-meni-textdiv {
        margin-top: 2%;
        width: 95%;
        font-size: medium;
    }
    .o-meni-quote > .quote-text {
        line-height: unset;
        padding: 5px 6px;
        font-size: 2rem;
        font-size: large;
    }

    .motivation-quote-1 {
        font-size: large;
        width: 88%;
    }

    .profile-img {
        margin-top: 7%;
        margin-bottom: 7%;
        width: 60%;
    }

    .o-meni-content {
        margin-top: 8%;
        margin-bottom: 5%;
        width: auto;
    }

    .zahvala {
        width: 100%;
    }

    .zahvale-section {
        width: auto;
    }

    
}
